<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <nav>
  <ul>
    <li>
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li>
      <a [routerLink]="['/user',1]" routerLinkActive="active">user 1</a>
    </li>
    <li>
      <a [routerLink]="['/user',2]" routerLinkActive="active">user 2</a>
    </li>
    
  </ul>
</nav> -->
<router-outlet></router-outlet>



<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a  class="navbar-brand"> Router </a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li ><a routerLink="/users" routerLinkActive="active" >Users</a></li>
        <li ><a routerLink="/viewserver" routerLinkActive="active"> View Server</a></li>
      </ul>
    </div>
  </div>
</nav> -->





<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
    
  </div>
</div> -->






<!-- <input type="text" #nameInput/>
<input type="number" #priceInput/>
<button (click)="userData(nameInput.value, priceInput.valueAsNumber)">UserInfo</button>

<h1>{{name}}</h1>
<h1>{{price}}</h1>

<button (click)="add(nameInput.value, priceInput.valueAsNumber)">Add Data</button> -->

<!-- <h1 BasicExample>Hello Directives...</h1> -->
<!-- <h1 appBetterexample [color]="'red'" [highLightColor]="'green'">Hello better example</h1> -->
<!-- or -->
<!-- <h1 [appBetterexample]="'green'" color="red" >Hello better example</h1>



<button (click)="toggleNumbers()">
    Show {{ showEven ? 'Odd' : 'Even' }} Numbers
  </button> -->
  
  <!-- <div *ngFor="let number of filteredNumbers" 
     [ngClass]="{odd: number%2!==0,even:number%2==0}" 
  [ngStyle]="{backgroundColor : number % 2 !== 0 ? 'yellow' :'transparent' }">
  <div>
    {{ number }}
  </div>
</div> -->


<!-- Using *ngFor with ng-template -->
<!-- <div *ngFor="let number of filteredNumbers">
  <ng-template [ngIf]="true">
    <div [ngClass]="{ odd: number % 2 !== 0, even: number % 2 === 0 }" 
         [ngStyle]="{ backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent' }">
      {{ number }}
    </div>
  </ng-template>
</div> -->












<!-- <app-server></app-server>

<app-gamecontrol (countIncreased)="count($event)"></app-gamecontrol>
<div>
      <app-even  [evenNumbers]="evenNumbers"></app-even>
        <app-odd *ngFor="let number of oddNumbers" [oddNumber]="number"></app-odd>
</div> -->
